.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fruitContainer {
  max-width: 50%;
  flex: 50%;
  transition: ease all 0.3s;
  box-shadow: 0px 0px 10px 1px #00000021;
}

@media (max-width: 768px) {
  .fruitContainer {
    flex: 100%;
    max-width: 100%;
  }
}
