.containerItem {
  padding: 10px;
  height: 100%;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .containerItem {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .titleMobile {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: block !important;
  }
  .image-item {
    background-size: cover;
    height: 400px;
    width: 100%;
    background-position: center;
    position: relative;
  }
}

.titleMobile {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: none;
}

.image-item {
  background-size: cover;
  height: 200px;
  width: 100%;
  background-position: center;
}

h1 {
  font-size: 25px;
  font-weight: 600;
}

p {
  margin-bottom: 0px !important;
  margin-top: 5px !important;
  font-size: 15px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
